/*Colores primarios*/
/*Colores secundarios*/
.rectangle-container {
  width: 124px;
  height: 90px;
  border-radius: 5px;
  margin-right: 17px;
  margin-bottom: 14px; }

.color-container {
  display: inline-block;
  vertical-align: top;
  margin-top: 28px; }

.blue {
  background-color: #002c76; }

.mrg-btn-0 {
  margin-bottom: 0px; }

body {
  background-color: #f5f7f9; }

.white-card {
  margin: auto;
  max-width: 969px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  padding: 36px 40px 54px 40px; }
