/*Paleta primarios*/

$p-blue: #002c76;
$p-yellow: #fdc130;
$p-red: #d0021b;
$p-green: #7ad468;
$p-black: #282828;
$p-white: #ffffff;

/*Paleta secundarios*/

$s-blue-1: #0040a8;
$s-blue-2: #4070be;
$s-blue-3: #0085e0;
$s-blue-4: #c4d4e3;
$s-orange: #eda705;
$s-red: #e33031;
$s-grey-1: #59626d;
$s-grey-2: #8a8d94;
$s-grey-3: #c6c8cc;
$s-grey-4: #e1e2e6;
$s-grey-5: #eef0f2;

/*Paleta backgrounds*/

$background: #f6f8fa;