.rectangle-container {
    width: 124px;
    height: 90px;
    border-radius: 5px;
    margin-right: 17px;
    margin-bottom: 14px;
}

.color-container {
    display: inline-block;
    vertical-align: top;
    margin-top: 28px;
}

.p-blue {
    background-color: $p-blue;
}

.p-yellow {
    background-color: $p-yellow;
}

.p-red {
    background-color: $p-red;
}

.p-green {
    background-color: $p-green;
}

.p-black {
    background-color: $p-black;
}

.p-white {
    background-color: $p-white;
}

.border {
    border: 2px solid $s-grey-5;
}

.s-blue-1 {
    background-color: $s-blue-1;
}

.s-blue-2 {
    background-color: $s-blue-2;
}

.s-blue-3 {
    background-color: $s-blue-3;
}

.s-blue-4 {
    background-color: $s-blue-4;
}

.s-orange {
    background-color: $s-orange;
}

.s-red {
    background-color: $s-red;
}

.s-grey-1 {
    background-color: $s-grey-1;
}

.s-grey-2 {
    background-color: $s-grey-2;
}

.s-grey-3 {
    background-color: $s-grey-3;
}

.s-grey-4 {
    background-color: $s-grey-4;
}

.s-grey-5 {
    background-color: $s-grey-5;
}

.background {
    background-color: $background;
}

.mrg-btn-0 {
    margin-bottom: 0px;
}

body {
    background-color: rgb(245, 247, 249);
}

.white-card {
    margin: auto;
    max-width: 969px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    padding: 36px 40px 54px 40px;
}